:root {
  /* Hex */
  --black: #000000;
  --bright-red: #F15060;
  --green: #00A95C;
  --medium-blue: #3255A4;
  --yellow: #FFE800;

  /* RGB */
  --black-r: 0;
  --black-g: 0;
  --black-b: 0;

  --bright-red-r: 241;
  --bright-red-g: 80;
  --bright-red-b: 96;

  --green-r: 0;
  --green-g: 169;
  --green-b: 92;

  --medium-blue-r: 50;
  --medium-blue-g: 85;
  --medium-blue-b: 164;

  --yellow-r: 255;
  --yellow-g: 232;
  --yellow-b: 0;
}
